#requirements

bcrypt==3.2.0
fastapi
uvicorn
mido
pandas
numpy
tensorflow==2.15.0           
scikit-learn          
pickle-mixin           
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
python-multipart
